footer{

    background-color: #FF5733;
}

header{
    background-color: #FF5733;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
  }
  
  .loading-container ion-spinner {
    margin-bottom: 16px;
  }
  