.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
  }
  
  .loading-container ion-spinner {
    margin-bottom: 16px;
  }
  
  ion-header {
    --background: #273746;
  }
  
  ion-toolbar {
    --background: #273746;
  }
  
  ion-title {
    --color: #ffffff;
  }
  
  