<ion-header>
  <ion-toolbar style="background-color: #273746;">
    <ion-title style="font-weight: bold; text-align: center; color: #ffffff;">
      GEOSEGURIDAD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!isLoading">
    <ion-card-header>
      <ion-card-title style="text-align: center">¡BIENVENIDO!</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <p style="text-align: center">Marca tu entrada y salida!</p>
      <br />
      <p style="text-align: center">Ingresa tus datos</p>
      <form [formGroup]="formLogin" (ngSubmit)="logIn()">
        <ion-item>
          <ion-label position="floating" for="loginUser">Usuario</ion-label>
          <ion-input id="loginUser" formControlName="user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" for="loginPassword">Contraseña</ion-label>
          <ion-input id="loginPassword" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="formLogin.invalid">Ingresar</ion-button>
      </form>
      <br />
      <p *ngIf="loginError" style="color: red; text-align: center;">
        Credenciales inválidas, por favor intenta de nuevo.
      </p>
      <p *ngIf="loginSuccess" style="color: green; text-align: center;">
        Inicio de sesión exitoso.
      </p>
      <p style="text-align: center">
        <ion-button color="primary" fill="clear" (click)="navigateToRegister()">Crea tu cuenta aquí!</ion-button>
      </p>
    </ion-card-content>
  </ion-card>

  <div class="loading-container" *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando...</p>
  </div>

  <div style="text-align: center; height: auto">
    <ion-img src="/assets/Skull.png" alt="Perfil"></ion-img>
  </div>
</ion-content>

<ion-footer style="background-color: #273746">
  <ion-toolbar>
    <ion-title style="background-color: #273746">© 2024 Italo González</ion-title>
  </ion-toolbar>
</ion-footer>
