<ion-header>
  <ion-toolbar>
    <ion-title>
      GEOSEGURIDAD
    </ion-title>
  </ion-toolbar>
</ion-header>

<main class="mainHistory" fullscreen>
  <ion-content class="ion-padding" fullscreen>
    <div class="table-wrapper">
      <h2>Historial de Marcas</h2>
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Entrada</th>
            <th>Salida</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let timestamp of historyTimestamps.reverse()">
            <tr>
              <td>{{ timestamp.date | date:'shortDate' }}</td>
              <td>{{ timestamp.checkIn | date:'shortTime' }}</td>
              <td>{{ timestamp.checkOut | date:'shortTime' }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </ion-content>
</main>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="attendance" [routerLink]="['/attendance']">
          <ion-icon name="alarm-outline"></ion-icon>
          <ion-label>Asistencia</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="history" [routerLink]="['/history']">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" [routerLink]="['/profile']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logOut()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
