.mainHistory {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ff5733;
  color: white;
}


h2 {
  text-align: center;
  color: #000000;
  margin-top: 20px;
  font-size: 2em;
}

ion-header {
  --background: #273746;
}

ion-toolbar {
  --background: #273746;
}

ion-title {
  --color: #ffffff;
}

ion-tab-bar {
  --background: #273746;
}

ion-tab-button {
  --color-selected: #ffffff;
}

ion-tab-button ion-icon, ion-tab-button ion-label {
  color: #ffffff;
}