<ion-header style="background-color: #ff5733" [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold; text-align: center;">GEOSEGURIDAD</ion-title>
  </ion-toolbar>
</ion-header>

<main class="mainHistory" fullscreen>
  <ion-content class="ion-padding" fullscreen>
    <div class="table-wrapper">
      <h2>Historial de Marcas</h2>
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Entrada</th>
            <th>Salida</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timestamps of historyTimestamps">
            <td>{{ timestamps.date | date:'shortDate' }}</td>
            <td>{{ timestamps.checkIn | date:'shortTime' }}</td>
            <td>{{ timestamps.checkOut | date:'shortTime' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
</main>

<ion-footer>
  <ion-toolbar style="background-color: #ff5733;">
    <ion-tabs>
      <ion-tab-bar slot="bottom" style="background-color: #ff5733;">
        <ion-tab-button tab="attendance" [routerLink]="['/attendance']">
          <ion-icon name="alarm-outline"></ion-icon>
          <ion-label>Asistencia</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="history" [routerLink]="['/history']">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" [routerLink]="['/profile']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logOut()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
