<ion-header style="background-color: #ff5733" [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-weight: bold; text-align: center;">GEOSEGURIDAD</ion-title>
  </ion-toolbar>
</ion-header>

<main class="mainAttendance" fullscreen>
  <ion-card-content class="ion-padding" fullscreen>
    <div class="timer-wrapper">
      <div class="timer-container">
        <h3>Hola, {{ userName }}</h3>
        <ion-card>
          <p>{{ currentDate | date:'medium' }}</p>
        </ion-card>
        <div class="timer">
          <h1>{{ hours | number:'2.0-0' }}:{{ minutes | number:'2.0-0' }}:{{ sec | number:'2.0-0' }}</h1>
        </div>
      </div>
      <ion-card class="actions">
        <ion-card-content>
          <div class="buttons">
            <ion-button expand="block" (click)="checkIn()">Marcar Entrada</ion-button>
            <ion-button expand="block" (click)="checkOut()">Marcar Salida</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
      <p *ngIf="message" style="color: green; text-align: center; margin-top: 16px;">
        {{ message }}
      </p>
    </div>
  </ion-card-content>
</main>

<ion-footer>
  <ion-toolbar style="background-color: #ff5733;">
    <ion-tabs>
      <ion-tab-bar slot="bottom" style="background-color: #ff5733;">
        <ion-tab-button tab="attendance" [routerLink]="['/attendance']">
          <ion-icon name="alarm-outline"></ion-icon>
          <ion-label>Asistencia</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="history" [routerLink]="['/history']">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" [routerLink]="['/profile']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logOut()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
