ion-header {
  background-color: #ff5733;
}

ion-title {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

ion-content {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.timer-wrapper {
  background-color: #000000; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.timer-container {
  width: 100%;
  text-align: center;
}

.user-greeting {
  font-size: 2em; /* Incrementar tamaño del saludo */
  font-weight: bold;
  color: #ffffff;
}

.date-card {
  margin-top: 10px;
}

.current-date {
  font-size: 1.5em; /* Incrementar tamaño de la fecha */
  color: #ffffff;
  text-align: center;
}

.timer {
  font-size: 5em; /* Aumentar tamaño del cronómetro */
  font-weight: bold;
  color: #ffffff;
  margin: 20px 0;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ion-button {
  margin: 10px;
  --background: #ff5733;
}

.message {
  color: green;
  text-align: center;
  margin-top: 16px;
  font-size: 1.5em; /* Incrementar tamaño del mensaje */
}

ion-footer {
  ion-toolbar {
    --background: #ff5733;
  }
}

ion-tab-bar {
  background-color: #ff5733;
  color: #fff;

  ion-tab-button {
    --color-selected: #ffffff;
    --color: #ffffff;

    ion-icon, ion-label {
      color: #ffffff;
    }
  }
}
